.our-story {
  display: inline-block;
  border: 1px solid gray;
}
.menu {
  display: inline-block;
  border: 1px solid gray;
}
.reservations {
  display: inline-block;
  border: 1px solid gray;
}

.menu-info-container {
  border: 1px solid gray;
  padding: 10px;
}

.menu-item-price {
  float: right;
}

.menu-item {
  float: left;
}

.float-right {
  float: right;
}

.float-left{
  float: left;
}
