

@import "bulma";


@import url(http://weloveiconfonts.com/api/?family=zocial);

// .fa-events-icons-ready{
//   background-color: #232B2B;
// }

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.top-barbox {
border-bottom: solid;
height: 150px;
background-color: #ce695b;
}

.logo-box {
  display: inline-block;
  width: 100px;

}


.logo{
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 20px;
  margin-left: 50px;
  height: 150px;
}

.bear {
  display: inline-block;
}

.bear-pic{
  height: 150px;
  margin-left: 165px;
}

.bear-pic2{
  height: 150px;
  margin-left: 200px;
  -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
 transform: scaleX(-1);
 filter: FlipH;
 -ms-filter: "FlipH";
}

.words{
  display: inline-block;
  font-size: 50px;
}

.icon-box {
  border: solid;
  background-color: #5bc1ce;
  display: inline-block;
  position: relative;
  height: 100px;
  width: 150px;
  text-align: center;
  padding-top: 25px;
  float: right;
  margin-top: 22px;
  margin-right: 20px;
  -moz-border-radius: 15px;
border-radius: 15px;
font-size: 14px;

a{
  list-style: none;
  color: #4C5556;
}

}

.connect{
  font-size: 12px;
}
.icons{
padding-top: 0px;
text-align: center;




li{
  display: inline;
}
}







//////new blurbs css

.newsblurbsbox {
    width: 300px;
    height: 238px;
    border: solid;
    display: inline-block;
      overflow: hidden;
      margin-left: 140px;
      margin-top: 20px;
      -moz-border-radius: 15px;
border-radius: 15px;
background-color: #232B2B;




    h1{
      font-size: 16px;
      border-bottom: solid #C5C5C5 1px;
      padding-left: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
      color: #DC3D24;
      font-family: 'Leckerli One', cursive;
    }

    h2{
    font-size: 12px;
    font-style: italic;
    font-weight:bold;
    display: inline-block;
    color: #E3AE57;
    }

    .title{
      padding-left: 5px;
      padding-top: 10px;
    }

    .date{
      padding-left: 60px;
      padding-top: 10px;
      color: #E3AE57;
    }

    .post{
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      display: inline-block;
      color: white;






    }
}

// .close{
//   width: 300px;
//   height: 238px;
// }
//
// .open {
//   transition: height .5s;
//   width: 300px;
//   height: 500px;
// }


//////////special blurbs

.specials-box{
width: 300px;
height: 238px;
border: solid;
display: inline-block;
padding-top: 5px;
margin-left: 50px;
margin-top: 20px;
-moz-border-radius: 15px;
border-radius: 15px;
background-color: #232B2B;


.borders {
    border-bottom: solid #C5C5C5 1px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px
}

.Today  {
  font-size: 16px;
  padding-left: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  display: inline-block;
  color: #DC3D24;
  font-family: 'Leckerli One', cursive;
}

.price{
  font-size: 16px;
  display: inline-block;
  padding-left: 100px;
  padding-bottom: 5px;
  font-family: 'Leckerli One', cursive;
  color: #DC3D24;
}

img{
  width: 264px;
  height: 98px;
  margin-left: 20px;
  margin-right: 20px;
  -moz-border-radius: 15px;
border-radius: 15px;
}

h2{
font-size: 12px;
font-style: italic;
font-weight:bold;
display: inline-block;
padding-left: 5px;
padding-right: 5px;
color: #E3AE57;
}

p{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  color: white;
}


}

///////////////mapsblurb

.mapsblurbsbox{
  border: solid;
  width: 300px;
  height: 238px;
  display: inline-block;
  padding-top: 0px;
  margin-left: 50px;
  margin-top: 20px;
  -moz-border-radius: 15px;
border-radius: 15px;
background-color: #232B2B;

  .our-location{
    font-size: 16px;
    border-bottom: solid #C5C5C5 1px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Leckerli One', cursive;
    color: #DC3D24;

  }

  div{

    padding-left: 15px;
  }
.address{
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #E3AE57;
}

.location-info{
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
  color: white;

a{
  color: #5BC1CE;
}

}

}




.info-box1{
  display: inline-block;
}
.info-box2{
  display: inline-block;
}

.info-box3{
  display: inline-block;
  vertical-align: bottom;
}

.blurbs{
  display: flex;
  flex-direction: row;
  background-color: #a7aaaa;
}

///////////////food-photos

.food-photos{
  background-color: #232B2B;
}

.food{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  text-align: center;
  font-family: 'Leckerli One', cursive;
  color: #DC3D24;
}
.food-boxes{
  height: 300px;
  width: 100%;
  display: inline-block;
  margin: auto;
  background-color: #232B2B;

  float: left;




img{
  height: 200px;
  width: 200px;
  -moz-border-radius: 15px;
border-radius: 15px;
float: left;
background-color: #FDF3E7;
margin-left: 45px;
margin-top: 50px;
}


}


// .column{
//   height: 100px;
//   width: 100px;
//   border: solid;
// }



// It all began on February 24, 2017, when Ryan Jowers and Josh Bradford opened the first Iron Bear Pub in Atlanta, Georgia.
//
// Inspired by their lives hunting bears for a living in the Alaskan wilderness, Ryan and Josh sought to bring that life style of rugged individualism to the heart of Atlanta. Their goal was to not just own another ordinary pub and not just a restaurant with great food, but a place where everyone, of all walks of life, could come and have a great meal and great fun for a great price.
//
// We like to brag about our Hand-Cut Cowboy Cut Rib Eye, exotic Ostrich Filet Mignon, all natural Atlantic Sea Scallops, and most renown local craft beers hand-selected by the founders. Everything we do goes into making our hearty meals stand out. We handcraft almost everything we serve. We provide larger portions so you get more food for your dollar. And if you want an Ice Cold Beer to wash it all down with — well, we have those, too.
//
// Our food’s not the only thing that’s Legendary at the Iron Bear— our fun is too! From our trivia nights, to our live music, to our bare-nuckle boxing competitions, you’ll enjoy every second you spend in at the Iron Bear Pub.
// Our team has an incredible sense of pride in everything we do. Our passion ensures you have a Legendary Experience every time.
